<div>
  <div ng-repeat="commodity in form.data.commodities" ng-if="$index == form.page" ng-class="{'page-submitted': pageSubmitted}">
    	<div class="hs-code">
        <div class="title" ng-bind="'HS Code: '+commodity.hsCode"></div>
        <div class="subtitle" ng-bind="commodity.description"></div>
        <div class="body">
          <div ng-bind="'Quantity: '+commodity.quantity"></div>
          <div ng-bind="'Price: '+commodity.pricePerUnit"></div>
          <div ng-bind="'CIF Value: '+commodity.cifValue"></div>
        </div>
      </div>
      <div class="form-group">
      	<label class="col-sm-2 control-label">Approval</label>
      	<div class="col-sm-10">
      		<div ng-repeat="a in form.options.approvalCodes">
      			<label><input type="radio" ng-model="commodity.approvalCode" value="{{a.id}}" ng-required="!commodity.approvalCode"> {{a.name}}</label>
      		</div>
      	</div>
    	</div>
    	<div class="form-group">
      	<label class="col-sm-2 control-label">Comments</label>
      	<div class="col-sm-10">
        		<textarea class="form-control" ng-model="commodity.comments" rows="6" ng-required="commodity.approvalCode == 3"></textarea>
      	</div>
    	</div>
    </div>
  </div>
  <div ng-show="form.page < item.submission.commodities.length">
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="button" class="btn btn-default" ng-click="form.pageDn()">Back</button>
      <button type="button" class="btn btn-primary" ng-click="form.pageUp(lpcoForm);pageSubmitted = true;">Continue</button>
    </div>
  </div>
  <div ng-if="form.page >= item.submission.commodities.length">
    <div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Conditions</label>
        <div class="col-sm-10">
            <textarea class="form-control" ng-model="form.data.conditions" rows="6" ng-required="commodity.approvalCode == 3" required></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Period Ending</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" datepicker-popup="{{form.datepicker.format}}" ng-model="form.data.periodEnding" ng-click="picker.open = !picker.open" is-open="picker.open" close-text="Close" required>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" ng-click="form.cancel()">Cancel</button>
      <button type="button" class="btn btn-default" ng-click="form.pageDn()">Back</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>